page-chat {

    .message{
        background-color: gray;
        margin: 5px 5px;
        padding: 5px;
        border-radius: 10px;
    }
    .username{
        color: red;
        font-weight: bold;
        font-size: 90%;
    }
    .message-text{
        color: white;
        font-size: 110%;
    }
}
