page-profile {
    p{
        display: inline-block;
    }
    .main{
        height: 200px;
        text-align: center;
    }
   
    .pic{
        height:120px;
        width: 120px;
        border-radius: 60px;
        margin-top:10px;
        margin-left: 10px;
    }
    .username{
        margin-top:10px;
        margin-left: 10px;
        font-size: 120%;   
    }
    .edit{
        position: relative;
        margin-left: 5px;
        margin-top: -20px;
        margin-bottom: 20px;
        width: 100%;
        height: 20px;
     }
     .edit button{
        font-size:1.1rem!important;

     }
     #delete{
         color: red;
     }
}
