page-friend-requests {
    .status{
        display: table;
        justify-content: space-between;
    }
    h2{
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle 
    }
    .stat{
        font-size: 40px;
        margin: 0;
        padding-right: 17px;
        display: table-cell;
        float: right;
        vertical-align: middle 
     }
     #add{
         margin-right: 10px;
     }

}
